@font-face {
	font-family: 'Garamond';
	src: url('garamond_regular.otf') format('opentype');
}

@font-face {
	font-family: 'Garamond';
	src: url('garamond_italic.otf') format('opentype');
	font-style: italic;
}

@font-face {
	font-family: 'Garamond';
	src: url('garamond_bold.otf') format('opentype');
	font-weight: bold;
}

@font-face {
	font-family: 'Garamond';
	src: url('garamond_semibold.otf') format('opentype');
	font-weight: 500;
}

@font-face {
	font-family: 'Garamond';
	src: url('garamond_italic.otf') format('opentype');
	font-style: italic;
}

@font-face {
	font-family: 'Garamond';
	src: url('garamond_bold-italic.otf') format('opentype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Garamond';
	src: url('garamond_semibold-italic.otf') format('opentype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Futura Bock';
	src: url('futura_bock_regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Futura Bock';
	src: url('futura_bock_italic.ttf') format('truetype');
	font-style: italic;
}

@font-face {
	font-family: 'Futura Bock';
	src: url('futura_bock_bold.ttf') format('truetype');
	font-weight: bold;
}

@font-face {
	font-family: 'Futura Bock';
	src: url('futura_bock_bold-italic.ttf') format('truetype');
	font-style: italic;
	font-weight: bold;
}

/*==================================
 * CSS Reset
 ===================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
   display: block;
}
body {
   line-height: 1;
}
ul {
   list-style: none;
}
ol {
	list-style-position: inside;
}
blockquote, q {
   quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
   content: '';
   content: none;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}

/*=========================================*/

body {
}

.landing_header {
    position: absolute;
	width: 98%;
	height: 27px;
	background: transparent;
	padding: 4px 2% 4px 0;
	text-align: right;
}

.landing_anmelden a {
	background: none;
	color: rgb(255,255,255);
	border: 0;
	font-size: 14pt;
	float: right;
	font-family: "Garamond", Georgia, Times, serif;
	margin: 0 5px;
	display: block;
	padding: 5px 0;
	text-decoration: none;
}
	
.landing_anmelden img {
	margin: 8px 8px 0px;
}

.landing_login_button {
	background: none;
	color: rgb(255,255,255);
	border: 0;
	font-size: 14pt;
	float: right;
	font-family: "Garamond", Georgia, Times, serif;
	margin: 0 5px;
}

.landing_login_button a {
	color: rgb(255,255,255);
	text-decoration: none;
	font-family: "Garamond", Georgia, Times, serif;
}

.landing_login {
	color: rgb(220,220,220);
	font-size: 12pt;
	padding: 14px 0;
	display: block;
	margin-right: 5%;
	text-align: right;
	text-shadow: 2px 2px 2px rgb(20,20,20);
}

.landing_login a {
	text-decoration: none;
	color: #fff;
}

.landing_logo {
	background: rgb(7,16,24) url(gfx/sch_bg.png) no-repeat center 0;
	width: 100%;
	margin: 0 auto;
	background-size: cover;
	height: 600px;
}

.landing_info {
	width: 100%;
	background: #fff;
}

.landing_info p {
	width: 60%;
	margin: 100px 20%;
	padding: 60px 0;
	color: #000;
	font-family: "Garamond", Georgia, Times, serif;
	font-size: 16pt;
	line-height: 1.6em;
	text-align: justify;
}

.landing_links {
	width: 100%;
	height: 104px;
	padding-top: 30px;
	background: rgb(7,16,24) url(gfx/ww_landing_links.png) no-repeat center 0;
	position: relative;
	margin: 0 auto;
}

.landing_links_box {
	width: 100%;
	position: fixed;
	bottom: 0;
	left 0;
	/*background: rgba(250,250,250,0.4);
	border-radius: 2px;
	box-shadow: 1px 1px 2px rgb(20,20,20);*/
}

.landing_links_box span {
	font-size: 13px;
	font-style: italic;
	margin-right: 4px;
	vertical-align: 12px;
}

.link {
	float: left;
	width: 33.3%;
}

.link a {
	text-decoration: none;
}

.link a:visited {
	color: rgb(255,255,255);
}

.button_1, .button_2, .button_3 {
	text-align: center;
	display: block;
	padding: 10px 0;
	background: rgb(11,19,30);
	height: 25px;
	color: rgb(255,255,255);
}

.button_1 {
	font-size: 25px;
}

.button_2 {
	font-size: 25px;
}

.button_3 {
	font-size: 25px;
}

.button_1:hover, .button_2:hover, .button_3:hover {
	background: rgb(255,255,255);
	color: rgb(26,26,26) !important;
}
