@font-face {
	font-family: 'Baskerville';
	src: url('baskerville_regular.otf') format('opentype');
}

@font-face {
	font-family: 'Baskerville';
	src: url('baskerville_italic.otf') format('opentype');
	font-style: italic;
}

/*==================================
 * CSS Reset
 ===================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
   display: block;
}
body {
   line-height: 1;
}
ul {
   list-style: none;
}
ol {
	list-style-position: inside;
}
blockquote, q {
   quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
   content: '';
   content: none;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}

/*=========================================*/


/*==================================================*/
/*                  General		                    */
/*==================================================*/

body {
}

p, h1, h2, a, ul, ol {
	font-family: "Baskerville", Georgia, Times, serif;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

/* Class for div - centers everything within */
.centered {
	margin: 0 auto;
	text-align: center;
}

/*==================================================*/
/*                   Header                    		*/
/*==================================================*/

.header {
	width: 100%;
	height: 165px;
	margin: 0;
	top: 0;
	left: 0;
	background: rgb(11,19,30) url(gfx/header_neu_blau.png) no-repeat center -250px;
	/*background: rgb(30,48,64);*/
}

.logo {
	background: transparent;
	width: 900px;
	height: 125px;	
	margin: 0 auto;
	text-align: center;
}

.logo_img {
	margin: 15px 237px;
	width: 425px;
}

.login {
	position: absolute;
	top: 15px;
	right: 5%;
}

.login:before {
	content: url(../style/gfx/user_icon.png);
	height: 5px;
}

.login a {
	font-size: 12pt;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	margin: 0 6px;
}

.login a:hover {
	text-decoration: underline;
}

/*================  User Navigation  ===============*/

/*================  Main Navigation  ===============*/

.nav {
	height: 40px;
	background: rgb(185,177,169);
	position: relative;
   	right: 0;
   	margin: 0 auto;
   	/*padding: 0 17%;*/
	text-align: center;
	box-shadow: 0 0 2px 0 rgb(20,20,20);
}

.navi {
	height: 40px;
	margin: 0 auto;
	width: 847px ;/*987px with Bibliothek*/
}

.navi ul {
	text-align: center;
}

.navi li {
	float: left;
	width: 130px;
	padding: 9px 5px 4px 5px;
	height: 27px;
	margin: 0 0.5px;
	list-style: none;
   	display: block;
   	font-size: 15px;
}

.navi li:hover {
	/*background: #827d77;*/
	background: rgb(11,19,30);
}

.navi li a {
	display: block;
  	text-decoration: none; 
   	color: rgb(245,245,245); 
	padding: 3px 10px;
	font-size: 15px;
	text-shadow: 0 0 2px 0 rgba(0,0,0,0.5);
}

.navi li a:hover {
  	text-decoration: none; 
   	color: rgb(250,250,250); 
	padding: 2px 10px;
	font-size: 17px;
	text-shadow: 0 0 2px 0 rgba(0,0,0,0.5);
}

/*==================================================*/
/*                 Content General                  */
/*==================================================*/


.content {
	width: 100%;
	margin: 0 auto;
	text-align: justify;
}

.article {
	padding: 25px;
	font-size: 20pt;
}

.article header {
	margin: 50px 0;
	
}

.article h1 {
	text-align: center;
	font-size: 72px;
	text-transform: uppercase;
	text-shadow: 0px 0px 1px #666;	
}

.article h2 {
}

.article a {
	text-decoration: none;
}

.article img {
}


.article ol {
	list-style-type: decimal;
	list-style-position: outside;
}

.article ul {
	list-style-type: none;
	list-style-position: outside;
}
.article li {
	padding-bottom: 0.75em;
}

.article footer img {
}

.article footer a:link, a:hover, a:visited {
}

.article footer p {
}

.article footer p a:link {
}

.article footer p a:hover, a:visited {
}

.inputfield {
	padding: 0 14px;
	background-color: #fff;
	border: 1px solid #cfcfcf;
	margin: 5px;
	width: 172px;
	height: 50px;
	font-size: 16pt;
	font-family: "Baskerville", Georgia, Times, serif;
}

.inputbutton {
	text-decoration: none;
	background: rgb(46,74,98);
	color: #fff;
	border: 0;
	border-radius: 2px;
	margin: 5px;
	width: 200px;
	height: 50px;
	font-size: 16pt;
	font-family: "Baskerville", Georgia, Times, serif;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 0px 1px 0px rgba(0, 0, 0, 0.24);
}

.inputbutton:hover {
	background: rgb(30,48,64);
}

/*============== Location Information ==============*/

.location_box {
	width: 70%;
	padding: 30px 15%;
	background: rgb(185,177,169);
	box-shadow: 0 0 2px 0 rgb(20,20,20);
	text-align: center;
}

.location_box table {
	margin: 0 auto;
}

.location_box td {
	padding: 0 20px;
	vertical-align: top;
}

.location_box h1 {
	font-size: 28pt;
	line-height: 1.6em;
	font-weight: bold;
	text-align: right;
}

.location_box ul {
	line-height: 1.9em;
	font-size: 16pt;
	text-align: right;
}

.loaction_box ul a {
	color: rgb(46,74,98);
	text-decoration: none;
}

.loaction_box ul a:hover {
	color: rgba(46,74,140,0.6);
}

/*==================================================*/
/*                 Scholien/ Blog	                */
/*==================================================*/

.blog_info {
	font-size: 15pt;
	font-style: italic;
	line-height: 1.8em;
	margin-top: -30px;
}

.blog_info a:hover {
	color: rgba(46,74,98,0.8);
}

/* Blog Article List */

.blogdates {
	font-size: 16pt;
	font-style: italic;
	text-align: right;
	margin: 20px 0;
}

.blog_entry {
	margin: 30px 0 20px 0;
	line-height: 1.6em;
}

.blog_entry h2 {
	font-size: 26pt;
	color: #000;
	margin: 40px 0 0 0;	
	text-align: center;
	text-shadow: 0px 0px 1px #666;
}

.blog_entry h2 a:link,  .blog_entry h2 a:hover, .blog_entry h2 a:visited {
	color: #000;
	border: 0;
}

.blog_entry a:link {
	color: rgba(46,74,98,0.6);
	border-bottom: 1px dotted;
}

.blog_entry a:hover, a:visited {
	color: rgb(46,74,98);
	border-bottom: 1px solid;
}

.pagination {
	padding: 3px;
	margin: 50px auto 5px 0;
	font-size: 16pt;
	text-align: center;
}

.pagination a {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	text-decoration: none; /* no underline */
	color: rgb(46,74,98);
}

.pagination a:hover, .pagination a:active {
	color: #000;
}

.pagination span.current {
	padding: 1px 5px 1px 5px;
	margin: 1px 2px;
	font-weight: bold;
	background-color: rgb(46,74,98);
	color: #fff;
}

.pagination span.disabled {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	color: #000;
}

/* Individual Blog Article */

.blog {
	padding: 25px;
	font-size: 20pt;
	margin: 50px 0;
}

.blog header {
	margin: 50px 0;	
}

.blog h1 {
	text-align: center;
	font-size: 72px;
	text-transform: uppercase;
	text-shadow: 0px 0px 1px #666;	
}

.blogdate {
	font-size: 18pt;
	font-style: italic;
	text-align: right;
	margin: 40px 0;
}

.blog_img {
	width: 300px;
	background: #000;
	text-align: center;
	margin: 0 5px 5px 5px;
	float: right;
}

.blog p {
	line-height: 1.6em;
	margin: 50px 0;	
}

.blog:first-letter {
    font-size: 7em;
    float: left;
    margin-right: 0.02em;
    line-height: 0.75;
}

.blog a:link {
	color: rgb(46,74,98);
	border-bottom: 1px dotted;
}

.blog a:hover {
	border-bottom: 1px solid;
	color: rgba(46,74,98,0.8);
}

.blog a:visited {
	border-bottom: 1px solid;
	color: rgba(46,74,98,0.6);
}

.blog h1 {
	text-align: center;
	font-size: 72px;
	text-transform: uppercase;
	text-shadow: 0px 0px 1px #666;	
}

.blog a {
	text-decoration: none;
}

.blog img {
	max-width: 974px;
	margin: 0 auto;
}

.blog ol {
	margin: 40px 0 40px 60px;
	list-style-type: decimal;
	list-style-position: outside;
}

.blog ul {
	margin: 40px 0 40px 60px;
	list-style-type: none;
	list-style-position: outside;
}

.blog li {
	padding-bottom: 0.75em;	
}

.blog blockquote {
	line-height: 1.5em;
	padding: 0 50px 0 50px;
	color: rgba(0,0,0,0.6);
}

.blockquote p {
	line-height: 1.5em;
	padding: 0 50px 0 50px;
	color: rgba(0,0,0,0.6);
}

.linie {
	margin-top: 50px;
	text-align: center !important;
}

.linie img {
	max-height: 35px;
}

.blog_footer {
	text-align: center;
}

.blog_footer img {
	margin: 0 20px;
	max-height: 30px;
}

.blog_footer a:link, a:hover, a:visited {
	border: 0;
}

.blog_footer p {
	text-align: right;
	margin: 0 0 50px 0;
	font-size: 16pt !important;
}

.blog_footer p a:link {
	color: rgba(46,74,98,0.6);
	border-bottom: 1px dotted;
}

.blog_footer p a:hover, a:visited {
	color: rgb(46,74,98);
	border-bottom: 1px solid;
}

/* Blog Upgrade and Subscription */

.blog_upgrade, .blog_subscribe {
	padding: 30px;
	width: 100%;
    background-color: #fafafa;
    border: 1px solid #f0f0f0;
    border-radius: 6px;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.05) inset;
    display: inline-block;
    font-size: 16pt;
    max-width: 900px;
    position: relative;
    text-align: center;
}

.blog_subscribe {
    max-width: 438px;
    margin: 30px auto;
}

.blog_upgrade {
	width: 100%;
    max-width: 900px;
    margin: 30px 0;
    text-align: justify;
}

.blog_upgrade h2 {
	margin: 10px 0;
	font-size: 24pt;
}

.blog_upgrade p {
	line-height: 1.5em;
	margin: 10px 0;
}

a.blog_linkbutton {
	text-decoration: none;
	display: block;
	border-radius: 2px;
	color: #fff;
	background: rgb(46,74,98);
	border: 0;
	margin: 30px auto 10px auto;
	width: 200px;
	height: 37px;
	padding-top: 13px;
	font-size: 16pt;
	font-family: "Baskerville", Georgia, Times, serif;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 0px 1px 0px rgba(0, 0, 0, 0.24);
	text-align: center;
}

a.blog_linkbutton:hover {
	color: #fff;
	background: rgb(30,48,64);
	text-decoration: none;
}

a.blog_linkbutton:visited {
	color: #fff;
	text-decoration: none;
}

/*=============  Social Media Buttons  =============*/

/* Fixed Sidebar */

.social {
	position: fixed;
	right: 40px;
	bottom: 50px;
}

.social ul {
	margin: 0 0 20px 60px;
}

.social li {
	margin: 20px 0;
	list-style: none;
}

.social a:link, a:hover, a:visited {
	border: 0;
}

.social img {
	margin: 0 20px;
	max-height: 30px;
}

/* Bottom Bar */

.socialimg {
	text-align: center;
	padding-bottom: 20px;
}

.socialimg img {
	max-height: 30px;
}

a.socialimg  {
	border: 0;
	text-decoration: none;
}

a.socialimg:hover  {
	border: 0;
	text-decoration: none;
}

/*====================================*/
/*             Salon       			  */
/*====================================*/

.salon_info {
	width: 75%;
	padding: 75px 12.5%;
}

.salon_info h1 {
	font-size: 80pt;
	color: rgba(0,0,0,0.9);
	text-shadow: 0 0 1px 0 rgb(20,20,20);
	margin: 30px 0 50px 0;
	text-align: center;
}

.salon_info p {
	line-height: 1.8em;
	font-size: 15pt;
	font-style: italic;
	text-align: justify;
	margin: 20px 0;
}

.salon_seperator {
	box-shadow: 0 0 1px 0 rgba(0,0,0,0.6);
	width: 100%;
	text-align: center;
	padding: 15px 0;
	background: rgb(250,250,250);
}

.salon_seperator h1 {
	font-size: 30pt;
	color: rgba(0,0,0,0.6);
	text-transform: uppercase;
}

.salon_head {
	width: 75%;
	padding: 75px 12.5%;
}

.salon_head h1 {
	text-align: center;
	font-size: 60pt;
	line-height: 1.2em;
	text-transform: uppercase;
	text-shadow: 0px 0px 1px rgb(20,20,20);	
	margin: 30px 0 80px 0;
}

.salon_content {
	width: 75%;
	padding: 75px 12.5%;
}

.salon_content img {
	text-align: center;
	margin: 30px 0;
}

.salon_content p {
	font-size: 16pt;
	margin: 15px 0;
	text-align: justify;
	line-height: 1.6em;
}

.salon_content h1 {
	font-size: 36pt;
	text-transform: uppercase;
	text-shadow: 0px 0px 1px rgb(20,20,20);
	margin: 50px 0 10px 0;
	text-align: center;
}

.salon_content h1 a {
	text-decoration: none;
	color: rgb(46,74,98);
}

.salon_date  {
	font-size: 22pt !important;
	margin: 10px 0 30px 0;
	text-align: center !important;
}

.salon_dates {
	font-size: 14pt;
	margin: 0 0 25px 0;
	text-align: center;
	font-style: italic;
}

.salon_reservation  {
	text-align: center;
	margin: 10px auto;
	padding: 30px;
    display: inline-block;
    position: relative;
}

.salon_reservation_inputbutton {
	text-decoration: none;
	background: rgb(46,74,98);
	color: #fff;
	border: 0;
	border-radius: 2px;
	margin: 5px;
	width: 300px;
	height: 75px;
	font-size: 22pt;
	font-family: "Baskerville", Georgia, Times, serif;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 0px 1px 0px rgba(0, 0, 0, 0.24);
}

.salon_reservation_inputbutton:hover {
	background: rgb(30,48,64);
}

.salon_reservation_span_a {
	font-size: 22pt;
	margin: 10px 0;
}

.salon_reservation_span_b {
	font-size: 14pt;
	margin: 10px 0;
}

.salon_reservation_span_c {
	font-size: 16pt;
	margin: 20px 0;
	line-height: 1.5em;
}

.salon_reservation_form  {
	margin: 20px 0;
}

.salon_reservation_form select {
	padding: 10px;
	font-size: 14pt;
	height: 50px;
}

.salon_anmeldung {
	text-align: right;
}

.salon_anmeldung a {
	color: rgb(46,74,98);
	font-size: 18pt;
	text-decoration: none;
	border-bottom: 1px dotted rgb(46,74,98);
	text-align: center;
	margin: 0 auto;
}

.salon_anmeldung a:hover{
	color: rgb(46,74,98);
	border-bottom: 1px solid rgb(46,74,98);
}
/*====================================*/
/*        Upgrade/Payment Page        */
/*====================================*/

.payment {
	width: 75%;
	margin: 50px auto;
}

.payment_info {
	font-family: "Baskerville", Georgia, Times, serif;
	line-height: 1.6em;
	font-size: 13pt;
	text-align: justify;
}

.pay_option_box {
	width: 100%;
	padding: 10px;
	margin: 50px auto 20px auto;
	box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.25);
	box-shadow: 1px 1px 10px 0 rgba(0,0,0,0.15) inset;
	border-radius: 2px;
	min-height: 200px;
	opacity: 0.95;
}

.pay_option_box:hover {
	/*box-shadow: 2px 2px 15px 0 rgb(153,210,23), -2px 2px 15px 0 rgb(153,210,23), 2px -2px 15px 0 rgb(153,210,23), -2px -2px 15px 0 rgb(153,210,23);*/
	opacity: 1;
	box-shadow: 2px 2px 15px 0 rgba(237,120,2,0.5), -2px 2px 15px 0 rgba(237,120,2,0.5), 2px -2px 15px 0 rgba(237,120,2,0.5), -2px -2px 15px 0 rgba(237,120,2,0.5);
	
}

.pay_option_box1 {
	background: rgb(88,134,129);
}

.pay_option_box2 {
	background: rgb(21,87,100);
}

.pay_option_box3 {
	background: rgb(1,39,68);
}

.pay_option_box4 {	
	background: rgb(21,87,100);
}

.pay_option_box5 {
	background: rgb(88,134,129);
}

.pay_option_box6 {
	background: rgb(140,156,136);
}

.pay_option_box table {

}

.pay_option_box tr {
}

.pay_option_box th {
	color: #fff;
	width: 25%;
	padding: 0 30px;
	vertical-align: middle;
}

.pay_option_box td {
	color: #fff;
	width: 75%;
	padding: 0 20px;
	vertical-align: middle;

}

.pay_option_box h1 {
	font-size: 24pt;
	text-align: center;
	color: #fff;
	margin-bottom: 15px;
}

.pay_option_box h2 {
	font-size: 26pt;
	font-weight: bold;
	text-align: center;
	color: #fff;
	text-shadow: 0px 0px 2px rgba(250,250,250,0.7);
}
	
.pay_option_box p {
	line-height: 1.8em;
	font-size: 14pt;
	margin: 30px 0;	
	text-align: left;
	color: #fff;
}	

.pay_option_box ul {
	list-style-position: outside;
	list-style-type: disc;
	font-size: 14pt;
	padding-left: 12px;
	color: #fff;
}

.pay_option_box li {
	line-height: 1.6em;
}

.pay_option_form {
	text-align: center;
	height: 110px;
}

.pay_option_box_inputbutton {
	text-decoration: none;
	background: /*rgb(153,210,23)*/ rgb(237,120,2);
	color: #fff;
	text-shadow: 1px 1px 4px 0 rgba(0,0,0,0.9);
	border: 0;
	border-radius: 2px;
	margin: 10px 0 15px 0;
	width: 400px;
	height: 50px;
	font-size: 16pt;
	font-family: "Baskerville", Georgia, Times, serif;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 0px 1px 0px rgba(0, 0, 0, 0.24);
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.16) inset, 0px 0px 10px 0px rgba(0, 0, 0, 0.34) inset;
}

.pay_option_box_inputbutton:hover {
	/*background: rgb(111,153,17);*/
	background: rgb(230,103,2);
}

/*==================================================*/
/*                   Footer                    		*/
/*==================================================*/

.footer {
	min-height: 35px;
	width: 100%;
	background: rgb(11,19,30);
	margin: 0;
	padding-top: 15px;
}

.footer p {
	text-align: center;
}

.footer p a {
	font-size: 12pt;
	color: rgb(200,200,200);
	text-shadow: 1px 1px 1px 0 rgb(15,15,15);
	text-decoration: none;
}

.footer p a:hover {
	font-size: 12pt;
	color: rgb(230,230,230);
	text-shadow: 1px 1px 1px 0 rgb(15,15,15);
}

/*.banner_blog {
	background: #000;
	width: 100%;
	height: 300px;
	position: relative;
}

.banner_blogimg {
	width: 100%;
	height: 100%;
	max-height: 300px;
	background-size: cover;
	opacity: 0.7;
}

.banner_blogms {
	width: 80%;
	margin: -350px auto;
	position: relative;
}

.banner_blogms h1 {
	font-size: 45pt;
	line-height: 1.1em;
	color: #fff;
	padding-top: 100px;
	text-shadow: 0px 0px 15px rgba(0,0,0,0.7);
}

.banner_blogms p {
	font-size: 8pt;
	color: rgba(250,250,250,0.3);
	line-height: 1.1em;
	text-align: right;
	text-shadow: 0px 0px 5px rgba(0,0,0,0.7);
	margin-left: 400px;
	margin-top: 170px;
}*/
