/*==================================
 * CSS Reset
 ===================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
   display: block;
}
body {
   line-height: 1;
}
ul {
   list-style: none;
}
ol {
	list-style-position: inside;
}
blockquote, q {
   quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
   content: '';
   content: none;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}

/*=========================================*/

.ticket_content {
	margin: 38px 76px;
}

.ticket_event {
	border-top: 1px solid #000;
	padding: 15px 0;
}

.ticket_event h1 {
	font-size: 38pt;
	line-height: 140%;
}

.ticket_event p {
	font-size: 14pt;
	line-height: 160%;
}

.ticket_date {
	font-size: 20pt;
	display: block;
}

.ticket_object {
	font-size: 12pt;
}

.ticket_value {
	font-size: 34pt;
	line-height: 140%;
	margin-left: 120px;
}

.ticket_user {
	border-top: 1px solid #000;
	padding: 30px 0;
}

.ticket_user_name {
	font-size: 20pt;
	text-transform: uppercase;
	display: block;
	float: left;
}

.ticket_user_no {
	font-size: 14pt;
	display: block;
	float: left;
	padding: 5px 0;
	margin-left: 25px;
}

.ticket_location {
	margin-top: 50px;
}

.ticket_location h1 {
	font-size: 26pt;
	line-height: 160%;
}

.ticket_location p {
	font-size: 16pt;
	line-height: 160%;
	margin-bottom: 40px;
}
