<html>
    <head>
        <title>Wertewirtschaft</title>
        <link rel="stylesheet" type="text/css" href="../scholien/blog_style.css">
    </head>
    <body>
        <header class="header1">
            <div class="logo">
                <a href="/"><img class="logo_img" src="../scholien/gfx/ww_logo_w.png" alt="Institut f&uuml; Wertewirtschaft" name="Home"></a>
                <!--<span class="login"><a href="">Ulrich M&ouml;ller</a></span>-->
            </div>
            <div class="nav">
                <div class="navi">
                <ul class="navi">
                    <li><a href="/scholien/">Scholien</a></li>
                    <li><a href="/salon/">Salon</a></li>
                    <li><a href="/kurse/">Kurse</a></li>
                    <li><a href="/schriften/">Schriften</a></li>
                    <li><a href="/medien/">Bibliothek</a></li>
                    <li><a href="/kurse/">Projekte</a></li>
                </ul>
                </div>
           </div>
        </header>
        <article style="min-height:529px;">
            
        </article>
        <footer class="footer">
            <p>
                <a href="http://wertewirtschaft.org/">&copy; Institut f&uuml;r Wertewirtschaft&trade;</a> &nbsp; 
                <a href="http://wertewirtschaft.org/kontakt/">Impressum</a> &nbsp; 
                <a href="http://wertewirtschaft.org/agb/">AGB</a> &nbsp; 
                <a href="http://wertewirtschaft.org/akteure/">Akteure</a>
       </footer>
    </body>
</html>