<html>
    <head>
        <link rel="stylesheet" href="..\scholien\blog_style.css">
    </head>
    <body>
        <div class="payment">
           <div class="payment_info">
            <p>Gro&szlig;artig, dass Sie zu uns gefunden haben! Es gibt heute nur noch wenige, die bereit sind, Institutionen zivilgesellschaftlich zu tragen &ndash; die meisten verlassen sich auf Staat und Lobbies und &quot;engagieren&quot; sich allenfalls als Zuwendungsempf&auml;nger.<br><br>
            Die Wertewirtschaft wird ausschlie&szlig;lich privat von B&uuml;rgern wie Ihnen finanziert. Wir lehnen jede Subvention aus Prinzip ab, weil wir niemals mehr Werte aufbrauchen als sch&ouml;pfen wollen, Zwang verabscheuen und Unabh&auml;ngigkeit f&uuml;r einen hohen Wert halten. Wir sind ein gemeinn&uuml;tziges Unternehmen, das hei&szlig;t, alle Ertr&auml;ge flie&szlig;en direkt in die F&ouml;rderung unserer Zwecke, ohne Abzug von Dividenden, Zinsen oder Steuern.<br><br>
            Wir sind aber auch stolz darauf, ein Unternehmen zu sein, und eben keine Beh&ouml;rde, kein Komitee, keine Partei, kein Hobbyverein, keine ideologische Bewegung. Professionalit&auml;t, Effizienz, reale Wertsch&ouml;pfung und &ouml;konomische N&uuml;chternheit sind zentral f&uuml;r uns. Wir bieten Ihnen daher realen Gegenwert und nicht blo&szlig; allgemeine Versprechen.<br><br>
            Auch wenn Ihre finanziellen Mittel beschr&auml;nkt sind, k&ouml;nnen Sie schon mit einem kleinen Beitrag an unseren Erkenntnissen und Werten teilhaben, Teil eines au&szlig;ergew&ouml;hnlichen Netzwerkes von Wertewirten werden und eine gewichtige L&uuml;cke f&uuml;llen.</p>
           </div>
 
            
            <div class="pay_option_box pay_option_box1">
                <table>
                    <tr><td>
                        <h1>Gast</h1>
                        <h2>6,25&euro;/Monat</h2>
                    </td>
                    <td class="pay_option_box_td_m">
                        <p>Sie sind interessierter B&uuml;rger mit beschr&auml;nkten Mitteln, der nur einmal neugierig hineinschnuppern m&ouml;chte, ob es die Wertewirtschaft auch wert ist.</p>
                    </td>
                    <td>
                        <ul>
                            <li>Kostenloser Zugang zu allen Scholien inkl. Archiv</li>
                            <li>Zugang zum Salon, kostenlose Teilnahmem&ouml;glichkeit inkl. Konsumation</li>
                            <li>Zugriff auf Schriften und Medien</li>
                            <li>Nutzung der Bibliothek (auch Fernleihe)</li>
                        </ul>
                   </td></tr>
                </table>
                <form method="post" action="">
                    <input type="button" class="pay_option_box_inputbutton" name="gast" value="Gast">
                </form>
            </div>
        
            <div class="pay_option_box pay_option_box2">
               <table>
                    <tr><td>
                        <h1>Kursteilnehmer</h1>
                        <h2>12,50&euro;/ Monat</h2>
                    </td>
                    <td class="pay_option_box_td_m">
                        <p>Sie sind an tiefer gehender Erkenntnis und Inspiration interessiert. Sie vertrauen der Wertewirtschaft bereits, dass sich hier wirklich etwas lernen l&auml;sst. Manchmal w&uuml;rde Sie auch die Teilnahme an intensiven Seminaren reizen.</p>
                    </td>
                    <td>
                        <ul>
                            <li>Vorteile von Gast</li>
                            <li>Zugang zu allen Seminaren.</li>
                            <li>Kostenlose Teilnahme an einem Seminar pro Jahr (oder alternativ Fernkurse/ Aufzeichnungen/Schriften im selben Gegenwert).</li>
                        </ul>
                    </td>
                    </tr>
                </table>
            <form method="post" action="">
                <input type="button" class="pay_option_box_inputbutton" name="kursteilnehmer" value="Kursteilnehmer">
            </form>
        </div>
        
        <div class="pay_option_box pay_option_box3">
            <table>
                <tr><td>
                    <h1>Wertewirt</h1>
                    <h2>25&euro;/ Monat</h2>
                </td>
                <td class="pay_option_box_td_m">           
                    <p>Sie sind nicht zuf&auml;llig hier, sondern empfinden so wie wir. Wenn es die Wertewirtschaft nicht g&auml;be, w&uuml;rden Sie sie vermissen. Sie wollen wie wir die Realit&auml;t erkennen, Werte schaffen und Sinn finden. Sie leben Eigenverantwortung und leisten als B&uuml;rger einen Beitrag, um dieses Zentrum verantwortlichen Unternehmertums, unabh&auml;ngiger Forschung und zivilgesellschaftlichen Engagements abseits der subventionierten Anstalten zu erm&ouml;glichen. Wenn es Sie nicht g&auml;be, g&auml;be es auch keine Wertewirtschaft.
                    </p>
                </td>
                <td>
                    <ul>
                        <li>Vorteile von Gast und Kursteilnehmer</li>
                        <li>Teilnahme an Seminaren und Salon, sowie Bezug von B&uuml;chern und Medien  je nach Belieben in entsprechend gr&ouml;&szlig;erem Ausma&szlig;.</li>
                        <li>Nutzung der digitalen Bibliothek.</li>
                        <li>Exklusive Informationen.</li>
                    </ul>
                </td>
                </tr>
            </table>
            <form method="post" action="">
                <input type="button" class="pay_option_box_inputbutton" name="wertewirt" value="Wertewirt">
            </form>
        </div>
        
        <div class="pay_option_box pay_option_box4">
            <table>
                <tr><td>
                    <h1>Gast</h1>
                    <h2>6,25&euro;/Monat</h2>
                </td>
                <td class="pay_option_box_td_m">
                    <p>Sie sind interessierter B&uuml;rger mit beschr&auml;nkten Mitteln, der nur einmal neugierig hineinschnuppern m&ouml;chte, ob es die Wertewirtschaft auch wert ist.</p>
                </td>
                <td>
                    <ul>
                        <li>Kostenloser Zugang zu allen Scholien inkl. Archiv</li>
                        <li>Zugang zum Salon, kostenlose Teilnahmem&ouml;glichkeit inkl. Konsumation</li>
                        <li>Zugriff auf Schriften und Medien</li>
                        <li>Nutzung der Bibliothek (auch Fernleihe)</li>
                    </ul>
                </td></tr>
            </table>
            <form method="post" action="">
                <input type="button" class="pay_option_box_inputbutton" name="gast" value="Gast">
            </form>
        </div>
            
        </div>
    </body>
</html>