@font-face {
	font-family: 'Baskerville';
	src: url('baskerville_regular.otf') format('opentype');
}

@font-face {
	font-family: 'Baskerville';
	src: url('baskerville_italic.otf') format('opentype');
	font-style: italic;
}

/*==================================
 * CSS Reset
 ===================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
   display: block;
}
body {
   line-height: 1;
}
ul {
   list-style: none;
}
ol {
	list-style-position: inside;
}
blockquote, q {
   quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
   content: '';
   content: none;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}

/*=========================================*/

/*body {
	background-color: #fff;
	background-image: none;
	width: 100%;*/

p, h1, h2, a, ul, ol {
	font-family: "Baskerville", Georgia, Times, serif;
	color: #000;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

.header {
	min-height: 103px;
	width: 100%;
	background: rgb(26,26,26);
}

.content {
	width: 75%;
	margin: 0 auto;
	text-align: justify;
}

.banner_blog {
	background: #000;
	width: 100%;
	height: 300px;
	position: relative;
}

.banner_blogimg {
	width: 100%;
	height: 100%;
	max-height: 300px;
	background-size: cover;
	opacity: 0.7;
}

.banner_blogms {
	width: 80%;
	margin: -350px auto;
	position: relative;
}

.banner_blogms h1 {
	font-size: 45pt;
	line-height: 1.1em;
	color: #fff;
	padding-top: 100px;
	text-shadow: 0px 0px 15px rgba(0,0,0,0.7);
}

.banner_blogms p {
	font-size: 8pt;
	color: rgba(250,250,250,0.3);
	line-height: 1.1em;
	text-align: right;
	text-shadow: 0px 0px 5px rgba(0,0,0,0.7);
	margin-left: 400px;
	margin-top: 170px;
}

.article {
	padding: 25px;
	font-size: 20pt;
}

.article header {
	margin: 50px 0;
	
}

.inputfield {
	padding: 0 14px;
	background-color: #fff;
	border: 1px solid #cfcfcf;
	margin: 5px;
	width: 172px;
	height: 50px;
	font-size: 16pt;
	font-family: "Baskerville", Georgia, Times, serif;
}

.inputbutton {
	text-decoration: none;
	background: rgb(46,74,98);
	color: #fff;
	border: 0;
	border-radius: 2px;
	margin: 5px;
	width: 200px;
	height: 50px;
	font-size: 16pt;
	font-family: "Baskerville", Georgia, Times, serif;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 0px 1px 0px rgba(0, 0, 0, 0.24);
}

.inputbutton:hover {
	background: rgb(30,48,64);
}

.scholie_info {
	font-size: 15pt;
	font-style: italic;
	line-height: 1.8em;
	margin-top: 20px;
}

.scholie_info a:hover {
	color: rgba(46,74,98,0.8);
}

.blogdate {
	font-size: 18pt;
	font-style: italic;
	text-align: right;
	margin: 40px 0;
}

.blogdates {
	font-size: 16pt;
	font-style: italic;
	text-align: right;
	margin: 20px 0;
}

.linie {
	text-align: center;
	margin-top: 50px;
}

.linie img {
	max-height: 35px;
}

.social {
	position: fixed;
	right: 40px;
	bottom: 0;
}

.social ul {
	margin: 0 0 20px 60px;
}

.social li {
	margin: 20px 0;
	list-style: none;
}

.social a:link, a:hover, a:visited {
	border: 0;
}

.social img {
	margin: 0 20px;
	max-height: 30px;
}

.blog_a {
	line-height: 1.6em;
	margin: 80px 0;
	
}

.blog_b p {
	line-height: 1.6em;
	margin: 50px 0;
	
}

.blog_b:first-letter {
    font-size: 7em;
    float: left;
    margin-right: 0.02em;
    line-height: 0.75;
}

.article h1 {
	text-align: center;
	font-size: 72px;
	text-transform: uppercase;
	text-shadow: 0px 0px 1px #666;	
}

.article h2 {
}

.article a {
	text-decoration: none;
}

.blog_a a:link, .blog_b a:link {
	color: rgb(46,74,98);
	border-bottom: 1px dotted;
}

.blog_a a:hover, .blog_b a:hover {
	border-bottom: 1px solid;
	color: rgba(46,74,98,0.8);
}

.blog_a a:visited, .blog_b a:visited {
	border-bottom: 1px solid;
	color: rgba(46,74,98,0.6);
}

.article img {
	max-width: 974px;
	margin: 0 auto;
}


.article ol {
	margin: 40px 0 40px 60px;
	list-style-type: decimal;
	list-style-position: outside;
}

.article ul {
	margin: 40px 0 40px 60px;
	list-style-type: none;
	list-style-position: outside;
}
.article li {
	padding-bottom: 0.75em;
	
}

.article blockquote {
	line-height: 1.5em;
	padding: 0 50px 0 50px;
	color: rgba(0,0,0,0.6);
}

.blockquote p {
	line-height: 1.5em;
	padding: 0 50px 0 50px;
	color: rgba(0,0,0,0.6);
}

/*.author {
	font-style: italic;
	font-size: 14pt;
	color: rgba(0,0,0,0.6);
	text-align: right;
	margin-top: 20px;
	padding: 0 50px 0 50px;
}*/

/*.article blockquote:before {
  color: rgba(0,0,0,0.6);
  content: url('gfx/quote.png');
  line-height: 0.0em;
  margin-right: 0.1em;
  padding-left: 0.1em;
  vertical-align: 0.2em;
}*/

/*.article blockquote:after {
  color: #ccc;
  content: "»";
  font-size: 12em;
  line-height: 0.1em;
  margin-left: 0.25em;
  vertical-align: -0.15em;
}*/

.article footer {
	max-height: 30px;
	text-align: center;
}

.socialimg {
	text-align: center;
	/*width: 375px;
	margin: 0 auto;*/
}

.article footer img {
	margin: 0 20px;
	max-height: 30px;
}

.article footer a:link, a:hover, a:visited {
	border: 0;
}

.article footer p {
	text-align: right;
	margin: 0 0 50px 0;
	font-size: 16pt !important;
}

.article footer p a:link {
	color: rgba(46,74,98,0.6);
	border-bottom: 1px dotted;
}

.article footer p a:hover, a:visited {
	color: rgb(46,74,98);
	border-bottom: 1px solid;
}

.footer {
	min-height: 35px;
	width: 100%;
	background: rgb(30,48,64);
	margin: 50px 0 0 0;
	padding-top: 15px;
}

.footer p {
	text-align: center;
}

.footer p a {
	font-size: 12pt;
	color: rgb(200,200,200);
	text-shadow: 1px 1px 1px 0 rgb(15,15,15);
	text-decoration: none;
}

.footer p a:hover {
	font-size: 12pt;
	color: rgb(230,230,230);
	text-shadow: 1px 1px 1px 0 rgb(15,15,15);
}

/*====================================*/
/*                Blog                */
/*====================================*/

.upgrade, .subscribe {
	padding: 30px;
	width: 100%;
    background-color: #fafafa;
    border: 1px solid #f0f0f0;
    border-radius: 6px;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.05) inset;
    display: inline-block;
    font-size: 16pt;
    max-width: 900px;
    position: relative;
    text-align: justify;
}

.subscribe {
    max-width: 438px;
    margin: 30px 200px;
}

.upgrade {
	width: 100%;
    max-width: 900px;
    margin: 30px 0;
}

.upgrade h2 {
	margin: 10px 0;
	font-size: 24pt;
}

.upgrade p {
	line-height: 1.5em;
	margin: 10px 0;
}

a.linkbutton {
	text-decoration: none;
	display: block;
	border-radius: 2px;
	color: #fff;
	background: rgb(46,74,98);
	border: 0;
	margin: 30px 0 10px 350px;
	width: 200px;
	height: 37px;
	padding-top: 13px;
	font-size: 16pt;
	font-family: "Baskerville", Georgia, Times, serif;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 0px 1px 0px rgba(0, 0, 0, 0.24);
	text-align: center;
}

/*a.linkbutton:link {
	display: block;
	color: #fff;
}*/

a.linkbutton:hover {
	color: #fff;
	background: rgb(30,48,64);
}

.blog_entry {
	margin: 30px 0 20px 0;
	line-height: 1.6em;
}

.blog_entry h2 {
	font-size: 26pt;
	color: #000;
	margin: 40px 0 0 0;	
	text-align: center;
	text-shadow: 0px 0px 1px #666;
}

.blog_entry h2 a:link,  .blog_entry h2 a:hover, .blog_entry h2 a:visited {
	color: #000;
	border: 0;
}

.blog_entry a:link {
	color: rgba(46,74,98,0.6);
	border-bottom: 1px dotted;
}

.blog_entry a:hover, a:visited {
	color: rgb(46,74,98);
	border-bottom: 1px solid;
}

.pagination {
	padding: 3px;
	margin: 50px auto 5px 0;
	font-size: 16pt;
	text-align: center;
}

.pagination a {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	text-decoration: none; /* no underline */
	color: rgb(46,74,98);
}

.pagination a:hover, .pagination a:active {
	color: #000;
}

.pagination span.current {
	padding: 1px 5px 1px 5px;
	margin: 1px 2px;
	font-weight: bold;
	background-color: rgb(46,74,98);
	color: #fff;
}

.pagination span.disabled {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	color: #000;
}

/*====================================*/
/*        Upgrade/Payment Page        */
/*====================================*/

.payment {
	width: 75%;
	margin: 50px auto;
}

.payment_info {
	font-family: "Baskerville", Georgia, Times, serif;
	line-height: 1.6em;
	font-size: 13pt;
	text-align: justify;
}

.pay_option_box {
	width: 100%;
	padding: 10px;
	margin: 50px auto 20px auto;
	box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.25);
	box-shadow: 1px 1px 10px 0 rgba(0,0,0,0.15) inset;
	border-radius: 2px;
	min-height: 200px;
	opacity: 0.95;
}

.pay_option_box:hover {
	/*box-shadow: 2px 2px 15px 0 rgb(153,210,23), -2px 2px 15px 0 rgb(153,210,23), 2px -2px 15px 0 rgb(153,210,23), -2px -2px 15px 0 rgb(153,210,23);*/
	opacity: 1;
	box-shadow: 2px 2px 15px 0 rgba(237,120,2,0.5), -2px 2px 15px 0 rgba(237,120,2,0.5), 2px -2px 15px 0 rgba(237,120,2,0.5), -2px -2px 15px 0 rgba(237,120,2,0.5);
	
}

.pay_option_box1 {
	background: rgb(88,134,129);
}

.pay_option_box2 {
	background: rgb(21,87,100);
}

.pay_option_box3 {
	background: rgb(1,39,68);
}

.pay_option_box4 {	
	background: rgb(21,87,100);
}

.pay_option_box5 {
	background: rgb(88,134,129);
}

.pay_option_box6 {
	background: rgb(140,156,136);
}

.pay_option_box table {

}

.pay_option_box tr {
}

.pay_option_box th {
	color: #fff;
	width: 25%;
	padding: 0 30px;
	vertical-align: middle;
}

.pay_option_box td {
	color: #fff;
	width: 75%;
	padding: 0 20px;
	vertical-align: middle;

}

.pay_option_box h1 {
	font-size: 24pt;
	text-align: center;
	color: #fff;
	margin-bottom: 15px;
}

.pay_option_box h2 {
	font-size: 26pt;
	font-weight: bold;
	text-align: center;
	color: #fff;
	text-shadow: 0px 0px 2px rgba(250,250,250,0.7);
}
	
.pay_option_box p {
	line-height: 1.8em;
	font-size: 14pt;
	margin: 30px 0;	
	text-align: left;
	color: #fff;
}	

.pay_option_box ul {
	list-style-position: outside;
	list-style-type: disc;
	font-size: 14pt;
	padding-left: 12px;
	color: #fff;
}

.pay_option_box li {
	line-height: 1.6em;
}

.pay_option_form {
	text-align: center;
	height: 110px;
}

.pay_option_box_inputbutton {
	text-decoration: none;
	background: /*rgb(153,210,23)*/ rgb(237,120,2);
	color: #fff;
	text-shadow: 1px 1px 4px 0 rgba(0,0,0,0.9);
	border: 0;
	border-radius: 2px;
	margin: 10px 0 15px 0;
	width: 400px;
	height: 50px;
	font-size: 16pt;
	font-family: "Baskerville", Georgia, Times, serif;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 0px 1px 0px rgba(0, 0, 0, 0.24);
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.16) inset, 0px 0px 10px 0px rgba(0, 0, 0, 0.34) inset;
}

.pay_option_box_inputbutton:hover {
	/*background: rgb(111,153,17);*/
	background: rgb(230,103,2);
}

/*==================================================*/
/*                   Header Neu                     */
/*==================================================*/

.header1 {
	width: 100%;
	height: 175px;
	margin: 0;
	top: 0;
	left: 0;
	position: absolute;
	background: #0b131e url(gfx/header_neu_blau.png) no-repeat center -250px;
	/*background: rgb(30,48,64);*/
}

.logo {
	background: transparent;
	width: 900px;
	height: 135px;	
	margin: 0 auto;
	text-align: center;
}

.logo_img {
	margin: 15px 237px;
	width: 425px;
}

.login {
	position: absolute;
	top: 15px;
	right: 5%;
}

.login:before {
	content: url(../style/gfx/user_icon.png);
	height: 5px;
}

.login a {
	font-size: 12pt;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	margin: 0 6px;
}

.login a:hover {
	text-decoration: underline;
}

.nav {
	height: 40px;
	background: /*transparent*/ rgb(185,177,169);
	background-image: -moz-linear-gradient(center top, rgba(250,250,250,0.1), rgb(185,177,169));
	position: relative;
   	right: 0;
   	margin: 0;
   	padding: 0 17%;
	text-align: center;
	/*opacity: 0.8;*/
	box-shadow: 0 0 2px 0 rgb(20,20,20);
}

.navi {
	height: 40px;
	width: 846px;
	/*border-right: 0.5px solid rgb(26,26,26);*/
}

.navi ul {
	text-align: center;
	opacity: 1;
	
}

.navi li {
	float: left;
	width: 130px;
	padding: 6px 5px 4px 5px;
	height: 30px;
	margin: 0 0.5px;
	list-style: none;
   	display: block;
   	font-size: 16pt;
   	/*border-left: 1px solid rgb(26,26,26);*/
   	/*background: rgb(144,134,125) url(gfx/nav_bg.png) no-repeat;
   	background-size: cover;*/
   	border-radius: 1px;
}

.navi li:hover {
	background: #827d77;
	/*background: rgb(255,198,18);*/
}

.navi li a {
	display: block;
  	text-decoration: none; 
   	color: #fff; 
	padding: 3px 10px;
	text-shadow: 0 0 1px 0 rgba{0,0,0,0.4};
	font-size: 14pt;
}

/*============================ Header Alt=========================*/

img.logo {
	float:left;
	position: relative;
	top: 19px;
	left: 105px;
	border: 0;	
}
img.flagge {
	float:left;
	position: relative;
	top: 2px;
	left: 0px;
	border: 0;
	margin-right: 5px;
}
a.flagge:link, a.flagge:visited {
	float:left;
	position: relative;
	top: 7px;
	left: 555px;
	text-decoration: none;
	color: #fff;
	font: normal 11px "Bitstream Charter";	
}
a.flagge:active, a.flagge:hover {
	float:left;
	position: relative;
	top: 7px;
	left: 555px;
	text-decoration: underline;
	color: #fff;
	font: normal 11px "Bitstream Charter";	
}

/*=====Navbar====*/
#navbar {
   	position: relative;
   	top: 76px;
   	right: 0;
   	margin: 0;
   	padding: 0;
	font: normal 14pt "Bitstream Charter";
	text-align: center;
}
#navbar li {
   	list-style: none;
   	float: right; 
	height: 32px;
   	display: block;
  	/*background-color: #786e64;*/
}
#navbar li a {
   	display: block;
  	text-decoration: none; 
   	color: #fff; 
	padding: 3px 10px;
}
#navbar li a:hover {
	/*background: transparent url(bg-navigation-item-hover.png) no-repeat 50% 100%;*/
}
#navbar li ul {
  	display: none; 
}
#navbar li:hover ul, #navbar li.hover ul {
   	position: absolute;
   	display: inline;
	width: 100%;
   	left: 0;
   	margin: 0;
   	padding: 0; 
}
#navbar li:hover li, #navbar li.hover li {
   	float: left; 
   	font-size: 11pt;
   	color: #fff;
}
#navbar li:hover li a, #navbar li.hover li a {
	width: 100%;
	display: block;
	text-indent: 3px;
	text-decoration: none;
	/*background: #bab1aa;*/
	/*border: 1px solid #fff;*/
}
#navbar li li a:hover {
	text-decoration: underline;
}
li.navbar {
	width: 135px;
	margin-left:1px;
}
li.navlong {
	width: 235px/*227px - 127px*/;
	padding-top: 2px;
	margin: 0 10px;
}
li.navshort {
	width: 75px;
	padding-top: 2px;
	margin: 0 20px;
}
