/*==================================
 * CSS Reset
 ===================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
   display: block;
}
body {
   line-height: 1;
}
ol, ul {
   list-style: none;
}
blockquote, q {
   quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
   content: '';
   content: none;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}

/*=========================================*/


/*==================================================*/
/*                  General		                    */
/*==================================================*/

body {
	background: rgb(150,150,150);
	color: rgb(70,70,70);
	font-size: 14px;
}

h1, h2, h3, h4, h5 {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}

p, .list {
	font-family: 'EB Garamond', serif;
}

.clear {
	clear: both;
}

.centered {
	text-align: center;
	margin: 0 auto;
}

.greybg {
	background: rgb(70,70,70);
}

em, .italic {
	font-style: italic;
}

.left {
	float: left;
}

.right {
	float: right;
}

/*==================================================*/
/*==================================================*/
/*												    */
/*      Default Style (Small Screens < 768px)       */
/*												    */
/*==================================================*/
/*==================================================*/

h1 {
    font-size: 2.5em;
    line-height: 1.1;
    color: rgb(28,109,186);
    padding: 1em;
}

h2 {
	font-size: 2em;
    line-height: 1.1;
    color: rgb(28,109,186);
    padding: 0.75em;
}

h4 {
	font-size: 1.5em;
    line-height: 1.1;
    padding: 0.75em;
}

h5 {
	font-size: 1.5em;
	color: rgb(255,255,255);
    line-height: 1.1;
    padding: 0.75em;
    background: rgb(28,109,186);
}

.img {
	min-height: 15em;
	max-height: 20em;
}

h1, h2, h3, h4, h5, .text p, .list {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
}

/*==================================================*/
/*                   Header                    		*/
/*==================================================*/

#header {
	background: rgb(46, 74, 98);
	width: calc(100%-2em);
	min-height: 4em;
    border-bottom: 0.5em solid rgb(28,109,186);
    padding: 1em;
}

.logo {
	float: left;
}

.logo img {
	height: 4em;	
}

/*================  Main Navigation  ===============*/

.nav-trigger {
	right: 0;
	float: right;
}

.nav-trigger__icon {
	padding: 1em 0.5em;
	width: 2.1em;
}

.nav-trigger__icon img {
	height: 1.75em;
}

#nav {
	clear: both;
	display: none;
}

#nav li {
	list-style: none; 
   	display: block;
   	font-family: 'Raleway', sans-serif;
   	font-weight: 300;
   	font-size: 1.75em;
   	margin: 0 -1em;
}

#nav li:hover, #nav li:active {
	background: rgb(255,255,255);
	margin: 0 -1em;
}

#nav li a {
	display: block;
	text-decoration: none;
	padding: 0.75em 0 0.75em 2em;
	color: rgb(255,255,255);
}

#nav li a:hover, #nav li a:active {
	color: rgb(150,150,150);
}

/*==================================================*/
/*                 Content General                  */
/*==================================================*/

#content {
	width: 100%;
	background: rgb(255,255,255);
}

/*=====================  Index  ====================*/

.index {
	display: none;
}

/*==================================================*/
/*                     Modules                  	*/
/*==================================================*/

/*===================  Item List  ==================*/

.itm-list {
	width: 100%;
}

.itm-list__row {
	border-bottom: 0.1em solid rgb(200,200,200);
	clear: both;
}

.itm-list__row a {
	display: block;
	font-size: 1.5em;
	font-family: 'Raleway', sans-serif;
	color: rgb(28,109,186);
	font-weight: 100;
	text-decoration: none;
	line-height: 2;
}

.itm-list__row img {
	height: 3em;
	float: left;
	padding: 0 30%;
}

.itm-list__row p {
	display: none;
}

.itm-list__row-col-1, .itm-list__row-col-2, .itm-list__row-col-3, .itm-list__row-col-4 {
	float: left;
	padding: 20px 0;
}
	
.itm-list__row-col-1 {
	width: 25%;
}

.itm-list__row-col-2 {
	width: 50%;
}

.itm-list__row-col-3 {
	width: 75%;
}

.itm-list__row-col-4 {
	width: 100%;
}

.itm-list__row-col-content {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
}

/*======================  Text  ====================*/

.text {
	margin-bottom: 3em;
}

.text p {
	font-size: 1.5em;
	line-height: 1.5em;
	padding: 1em inherit;
}

/*======================  List  ====================*/

.list {
	padding-top: 1em;
	padding-bottom: 1em;
}

.list li {
	font-size: 1.5em;
	line-height: 1.25em;
	display: block;
	padding: 0.85em 0;
	border-bottom: 1px solid rgb(150,150,150);
}

.list li a {
	text-decoration: none;
	display: block;
	color: rgb(70,70,70); 
}

.list--none {
	list-style-type: none;
}

.list--numbers {
	list-style-type: decimal;
}

.list--disc {
	list-style-type: disc;
}

/*======================    ====================*/

.subinfo {
	font-family: 'EB Garamond', serif;
	font-size: 1.25em;
	padding: 0.5em 0;
	display: block;
}

/*==================================================*/
/*                  Map Styles                 		*/
/*==================================================*/

/*=============== Overview Places ==================*/

.map {
	padding-bottom: 1.5em;
}

.map__map {
	width: 100%;
	height: 160px;
}

.map-info {
}

.map-info h1 {
	font-size: 22pt;
	color: rgb(28,109,186);
	font-weight: 300;
	font-family: 'Raleway', sans-serif;
}

.map-info h2 {
	font-size: 14pt;
	color: rgb(28,109,186);	
	margin: 0;
	font-weight: 300;
	font-family: 'Raleway', sans-serif;
}

.map-info a {
	text-decoration: none;
	color: rgb(203,44,52);
}

.map-info a:visited {
	color: rgb(203,44,52);
}

.map-info p {
    font-size: 11pt;
    line-height: 1.6;
    margin: 20px 0;
    font-family: 'EB Garamond', serif;
}

.map-info img {
	float: right;
	margin-left: 20px;
	max-height: 125px;
}

/*==================================================*/
/*                   Footer                    		*/
/*==================================================*/

#footer {
	background: rgb(46,74,98);
	width: 100%;
	font-weight: 300;
	margin-bottom: 0;
	bottom: 0;
	position: relative;
}

#footer p {
	padding: 2em;
	font-size: 1em;
}

#footer p, #footer a, #footer a:visited {
	line-height: 2;
	text-align: center;
	color: rgb(255,255,255);	
	font-family: 'Raleway', sans-serif;
}

#footer a, #footer a:visited {
	text-decoration: none;
}

#footer a:hover {
	text-decoration: underline;
}


/*=================================================*/
/*=================================================*/
/*												   */
/*      Desktop Style (Large Screens < 1024px)     */
/*												   */
/*=================================================*/
/*=================================================*/

@media screen and (min-width: 48em) {

/*==================================================*/
/*                   Header                    		*/
/*==================================================*/

#header {
	background: rgb(46, 74, 98);
	width: 100%;
	height: 122.5px;
    border-bottom: 10px solid rgb(28,109,186);
    padding: 0;
}

.logo {
	float: left;
	margin-left: 5%;
	padding: 30px 2.5% 0 0;
}

.logo img {
	height: 70px;	
}

/*================  Main Navigation  ===============*/

.nav-trigger {
	display: none;
}

#nav {
	position: relative;
   	right: 0;
   	margin: 0 auto;
   	padding: 0;
	text-align: center;
	margin-left: 35%;
	clear: none;
	display: block;
}

#nav li {
	list-style: none;
   	float: left; 
	height: 122.5px;
   	display: block;
   	transition: all 0.2s ease 0s;
   	font-family: 'Raleway', sans-serif;
   	font-size: 14pt;
   	font-weight: 300;
   	margin: 0;
}

#nav li:hover, #nav li:active {
	background: rgb(255,255,255);
	border-bottom: 10px solid rgb(203,44,52);
	margin: 0;
}

#nav li a {
	display: block;
	text-decoration: none;
	padding: 88px 20px 16px;
	color: rgb(255,255,255);
}

#nav li a:hover, #nav li a:active {
	color: rgb(150,150,150);
}

.nav--active {
   	color: rgb(150,150,150) !important; 
	background: rgb(255,255,255);
	border-bottom: 10px solid rgb(203,44,52);
}

/*==================================================*/
/*                 Content General                  */
/*==================================================*/

#content {
	margin: 60px auto;
	width: 65%;
	background: rgb(255,255,255);
}

/*================      Index      ===============*/

.index {
	margin: 2em;
	display: inline-block;
}

.index-link {
	text-align: left;
	color: rgb(150,150,150) !important;
	font-size: 0.9em;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	text-decoration: none;	
}

.index-link:hover {
	color: rgb(100,100,100) !important;
}

.index-link:visited {
	color: rgb(150,150,150);
}

/*==================================================*/
/*                Modular Parts                 	*/
/*==================================================*/


/*==================================================*/
/*                 Item List                   		*/
/*==================================================*/

.itm-list {
	margin: 5px 0;
	padding: 10px 0;
	display: inline-block;
	border-bottom: 1px solid rgb(210,210,210);
}

.itm-list:hover {
	background: rgb(240,240,240);
}


.itm-list-cola {
	width: 30%;
	float: left;
}

.itm-list-cola img {
	max-width: 100px;
}

.itm-list-colb {
	width: 70%;
	float: right;
}

.itm-list-colb h3 a {
	font-size: 16pt;
	color: rgb(28,109,186);
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	line-height: 2;
}

.itm-list-colb h3 a:hover {
	border-bottom: 1px solid rgb(28,109,186);
}

.itm-list-colb p {
	font-size: 12pt;
	line-height: 1.4;
	margin: 10px 0;
	display: block;
}

/*================== Buchquelle ====================*/

.booksource {
	background: rgb(240,240,240);
	min-height: 180px;
	margin: 20px 0px;
	padding: 2.5%;
	width: 95%;
	border-bottom: 10px solid rgb(203,44,52);
}

.booksource p {
	font-size: 11pt;
	color: rgb(160,160,160);
	line-height: 1.4;
	margin: 0;
	font-family: 'EB Garamond', serif;
}

.booksource a {
	color: rgb(203,44,52);
	text-decoration: none;
    border-bottom: 1px dotted rgb(203,44,52);
}

.booksource a:hover {
	color: rgb(203,44,52);
	border-bottom: 1px solid rgb(203,44,52);
}

.booksource img {
	margin-right: 20px;
	float: left;
	height: 180px;
}


/*==================================================*/
/*                  Map Styles                 		*/
/*==================================================*/

/*=============== Overview Places ==================*/

#map {
	width: 100%;
	height: 500px;
}

.map_info {
	margin: 20px;
}

.map_info h1 {
	font-size: 22pt;
	color: rgb(28,109,186);
	font-weight: 300;
	font-family: 'Raleway', sans-serif;
}

.map_info h1:hover{
	color: rgb(150,150,150);
}

.map_info h2 {
	font-size: 14pt;
	color: rgb(28,109,186);	
	margin: 0;
	font-weight: 300;
	font-family: 'Raleway', sans-serif;
}

.map_info a {
	text-decoration: none;
	color: rgb(203,44,52);
}

.map_info a:hover {
	color: rgb(150,150,150);
}

.map_info a:visited {
	color: rgb(203,44,52);
}

.map_info p {
    font-size: 11pt;
    line-height: 1.6;
    margin: 20px 0;
    font-family: 'EB Garamond', serif;
}

.map_info img {
	float: right;
	margin-left: 20px;
	max-height: 125px;
}

/*==================================================*/
/*                   Footer                    		*/
/*==================================================*/

#footer {
	background: rgb(46, 74, 98);
	width: 100%;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	margin-bottom: 0;
	padding: 20px 0;
	bottom: 0;
	position: relative;
}

#footer a:link, footer a:visited {
	font-size: 10pt;
	line-height: 20px;
	text-align: center;
	color: rgb(255,255,255);
	text-decoration: none;
}

#footer a:hover {
	text-decoration: underline;
}

#footer p {
	font-size: 10pt;
	line-height: 20px;
	text-align: center;
	color: rgb(255,255,255);
}

}