@font-face {
	font-family: 'Baskerville';
	src: url('baskerville_regular.otf') format('opentype');
}

@font-face {
	font-family: 'Baskerville';
	src: url('baskerville_italic.otf') format('opentype');
	font-style: italic;
}

/*==================================
 * CSS Reset
 ===================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
   display: block;
}
body {
   line-height: 1;
}
ul {
   list-style: none;
}
ol {
	list-style-position: inside;
}
blockquote, q {
   quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
   content: '';
   content: none;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}

/*=========================================*/

/*body {
	background-color: #fff;
	background-image: none;
	width: 100%;*/

p, h1, h2, a, ul, ol {
	font-family: "Baskerville", Georgia, Times, serif;
	color: #000;
}

.header {
	min-height: 103px;
	width: 100%;
	background: rgb(26,26,26);
}

.content {
	width: 75%;
	margin: 0 auto;
	text-align: justify;
}

.banner_blog {
	background: #000;
	width: 100%;
	height: 300px;
	position: relative;
}

.banner_blogimg {
	width: 100%;
	height: 100%;
	max-height: 300px;
	background-size: cover;
	opacity: 0.7;
}

.banner_blogms {
	width: 900px;
	margin: -350px auto;
	position: relative;
}

.banner_blogms h1 {
	font-size: 45pt;
	line-height: 1.1em;
	color: #fff;
	padding-top: 100px;
	text-shadow: 0px 0px 15px rgba(0,0,0,0.7);
}

.banner_blogms p {
	font-size: 8pt;
	color: rgba(250,250,250,0.3);
	line-height: 1.1em;
	text-align: right;
	text-shadow: 0px 0px 5px rgba(0,0,0,0.7);
	margin-left: 400px;
	margin-top: 170px;
}

.banner_blogms a{
	color: rgba(250,250,250,0.5);
}

.banner_blogms a:hover {
	color: rgba(250,250,250,0.7);
}

.article {
	padding: 25px;
	font-size: 16pt;
}

.article header {
	margin: 50px 0;
	
}

.linie {
	text-align: center;
	margin-top: 50px;
}

.linie img {
	max-height: 35px;
}

.social {
	position: fixed;
	right: 40px;
	bottom: 0;
}

.social ul {
	margin: 0 0 20px 60px;
}

.social li {
	margin: 20px 0;
	list-style: none;
}

.social a:link, a:hover, a:visited {
	border: 0;
}

.social img {
	margin: 0 20px;
	max-height: 30px;
}

.blog_a {
	line-height: 1.6em;
	margin: 80px 0;
	
}

.blog_b {
	line-height: 1.6em;
	margin: 80px 0;
	
}

.blog_a:first-letter {
    font-size: 7em;
    float: left;
    margin-right: 0.02em;
    line-height: 0.75;
}

.article h1 {
	font-family: 'Libre Baskerville', serif;
	text-align: center;
	font-size: 72px;
	text-transform: uppercase;
	text-shadow: 0px 0px 1px #666;
	
}

.article h2 {
	
}

.article a {
	text-decoration: none;
}

.blog_a a:link, .blog_b a:link {
	color: rgb(46,74,98);
	border-bottom: 1px dotted;
}

.blog_a a:hover, .blog_b a:hover {
	border-bottom: 1px solid;
	color: rgba(46,74,98,0.8);
}

.blog_a a:visited, .blog_b a:visited {
	border-bottom: 1px solid;
	color: rgba(46,74,98,0.6);
}

.article img {
	max-width: 974px;
	margin: 0;
}


.article ol {
	margin: 40px 0 40px 60px;
	list-style-type: decimal;
	list-style-position: outside;
}

.article ul {
	margin: 40px 0 40px 60px;
	list-style-type: none;
	list-style-position: outside;
}
.article li {
	padding-bottom: 0.75em;
	
}

.article blockquote {
	line-height: 1.5em;
	padding: 0 50px 0 50px;
	color: rgba(0,0,0,0.6);
}

.author {
	font-style: italic;
	font-size: 14pt;
	color: rgba(0,0,0,0.6);
	text-align: right;
	margin-top: 20px;
	padding: 0 50px 0 50px;
}

/*.article blockquote:before {
  color: rgba(0,0,0,0.6);
  content: url('gfx/quote.png');
  line-height: 0.0em;
  margin-right: 0.1em;
  padding-left: 0.1em;
  vertical-align: 0.2em;
}*/

/*.article blockquote:after {
  color: #ccc;
  content: "»";
  font-size: 12em;
  line-height: 0.1em;
  margin-left: 0.25em;
  vertical-align: -0.15em;*/
}

.article footer {
	max-height: 30px;
	text-align: center;
}

.socialimg {
	width: 375px;
	margin: 0 auto;
}

.article footer img {
	margin: 0 20px;
	max-height: 30px;
}

.article footer a:link, a:hover, a:visited {
	border: 0;
}

.footer {
	min-height: 50px;
	width: 100%;
	background: rgb(26,26,26);
	margin: 50px 0 0 0;
}

/*============================ Header Alt=========================*/

img.logo {
	float:left;
	position: relative;
	top: 19px;
	left: 105px;
	border: 0;	
}
img.flagge {
	float:left;
	position: relative;
	top: 2px;
	left: 0px;
	border: 0;
	margin-right: 5px;
}
a.flagge:link, a.flagge:visited {
	float:left;
	position: relative;
	top: 7px;
	left: 555px;
	text-decoration: none;
	color: #fff;
	font: normal 11px "Bitstream Charter";	
}
a.flagge:active, a.flagge:hover {
	float:left;
	position: relative;
	top: 7px;
	left: 555px;
	text-decoration: underline;
	color: #fff;
	font: normal 11px "Bitstream Charter";	
}

/*=====Navbar====*/
#navbar {
   	position: relative;
   	top: 76px;
   	right: 0;
   	margin: 0;
   	padding: 0;
	font: normal 14pt "Bitstream Charter";
	text-align: center;
}
#navbar li {
   	list-style: none;
   	float: right; 
	height: 32px;
   	display: block;
  	/*background-color: #786e64;*/
}
#navbar li a {
   	display: block;
  	text-decoration: none; 
   	color: #fff; 
	padding: 3px 10px;
}
#navbar li a:hover {
	/*background: transparent url(bg-navigation-item-hover.png) no-repeat 50% 100%;*/
}
#navbar li ul {
  	display: none; 
}
#navbar li:hover ul, #navbar li.hover ul {
   	position: absolute;
   	display: inline;
	width: 100%;
   	left: 0;
   	margin: 0;
   	padding: 0; 
}
#navbar li:hover li, #navbar li.hover li {
   	float: left; 
   	font-size: 11pt;
   	color: #fff;
}
#navbar li:hover li a, #navbar li.hover li a {
	width: 100%;
	display: block;
	text-indent: 3px;
	text-decoration: none;
	/*background: #bab1aa;*/
	/*border: 1px solid #fff;*/
}
#navbar li li a:hover {
	text-decoration: underline;
}
li.navbar {
	width: 135px;
	margin-left:1px;
}
li.navlong {
	width: 235px/*227px - 127px*/;
	padding-top: 2px;
	margin: 0 10px;
}
li.navshort {
	width: 75px;
	padding-top: 2px;
	margin: 0 20px;
}
