<!DOCTYPE html>
<html lang="de">
    <head>
        
    </head>
    <body>
        <!-- Begin eMail Content -->
        <table width="100%" cellspacing="0" cellpadding="0" border="0" style="margin: 0 auto;">
            <tr>
                <td>
                    <table width="600px" cellspacing="0" cellpadding="0" border="0" style="border:1px solid #c4c4c4;" align="center">
                        <tr>
                            <td>                                
                                <!-- Begin Header -->
                                <table width="600px" cellspacing="0" cellpadding="0" border="0" align="center">
                                    <tr>
                                        <td>
                                            <img title="scholarium " alt="scholarium" src="http://scholarium.at/style/gfx/email_header_new.jpg" align="left" border="0" height="150" width="600">
                                        </td>
                                    </tr>
                                </table>
                                <!-- End Header -->
                            </td>
                        </tr>
                        <tr>
                            <td>
                            <!-- Begin Text-->
                            <table width="600px" cellspacing="0" cellpadding="0" border="0" style="padding:20px;" align="center">
                                <tr>
                                    <td>
                                        <!-- Begin editable Content -->
                                        <p>Lieber Unterst&uuml;tzer,<br><br>
f&uuml;r Ihre gesch&auml;tzte Unterst&uuml;tzung haben wir Ihnen ein Pr&auml;mienguthaben gutgeschrieben. Dieses symbolische Guthaben k&ouml;nnen Sie auf scholarium.at einsetzen, um unser Angebot nach belieben zu nutzen. Im Ausma&szlig; Ihrer Unterst&uuml;tzung erhalten Sie eine Gutschrift auf Seminare, Saloneintritte, Aufzeichnungen und Live-&Uuml;bertragungen, B&uuml;cher, digitale Schriften und Videos.</p>
                                
                                        <p>Zugang erhalten Sie auf scholarium.at mit Ihrer E-Mail-Adresse und dem zugesandten Passwort (dieses k&ouml;nnen Sie jederzeit zur&uuml;cksetzen oder &auml;ndern).</p>
                                
                                        <p>Falls Sie noch Fragen haben, stehen wir Ihnen gerne zur Verf&uuml;gung.</p>
                                        <p>Vielen Dank f&uuml;r Ihr Engagement und Interesse.</p>
                                        <p>Wir w&uuml;nschen Ihnen viele neue Einsichten und Erkenntnisse.</p>
                                        <p>Herzliche Gr&uuml;&szlig;e aus dem scholarium</p>
                                        <!-- End editable Content -->
                                    </td>
                                </tr>
                            </table>
                            <!-- End Text -->                   
                        </td>
                    </tr>
               </table>
               </td>
            </tr>
            <tr>
                <td>
                    <!-- Begin eMail Footer -->
                    <table width="600px" cellspacing="0" cellpadding="0" border="0" style="text-align:center" align="center">
                        <tr>
                            <td>
                                <p style="text-align:center; font-size:10pt; color: #aaa;">
                                    scholarium<br> 
                                    Schl&ouml;sselgasse 19/2/18<br> 
                                    1080 Wien, &Ouml;sterreich<br>        
                                    <a href="info@scholarium.at">info@scholarium.at</a><br>
                                    <a href="http://www.scholarium.at">www.scholarium.at</a>
                                </p>
                            </td>
                        </tr>
                    </table>
                    <!-- End eMail Footer -->
                </td>
            </tr>
        </table>
        <!-- End eMail Content -->
    </body>
</html>