<!DOCTYPE html>
<html lang="de">
    <head>
        
    </head>
    <body>
        <!-- Begin eMail Content -->
        <table width="100%" cellspacing="10" cellpadding="0" border="0" align="center">
            <tr>
                <td>
                    <!-- Begin Header -->
                    <table width="600px" cellspacing="0" cellpadding="0" border="0">
                        <tr>
                            <td>
                                <img title="scholarium " alt="scholarium" src="http://scholarium.at/style/gfx/email_header_new.jpg" align="left" border="0" height="150" width="600">
                            </td>
                        </tr>
                    </table>
                    <!-- End Header -->
                </td>
            </tr>
            <tr>
                <td>
                    <!-- Begin Text-->
                    <table width="600px" cellspacing="0" cellpadding="0" border="0">
                        <tr>
                            <td>