                                        <!-- End editable Content -->
                                    </td>
                                </tr>
                            </table>
                            <!-- End Text -->                   
                        </td>
                    </tr>
               </table>
               </td>
            </tr>
            <tr>
                <td>
                    <!-- Begin eMail Footer -->
                    <table width="600px" cellspacing="0" cellpadding="0" border="0" style="text-align:center" align="center">
                        <tr>
                            <td>
                                <p style="text-align:center; font-size:10pt; color: #aaa;">
                                    scholarium<br> 
                                    Schl&ouml;sselgasse 19/2/18<br> 
                                    1080 Wien, &Ouml;sterreich<br>        
                                    <a href="info@scholarium.at">info@scholarium.at</a><br>
                                    <a href="http://www.scholarium.at">www.scholarium.at</a>
                                </p>
                            </td>
                        </tr>
                    </table>
                    <!-- End eMail Footer -->
                </td>
            </tr>
        </table>
        <!-- End eMail Content -->
    </body>
</html>